
    <div class="blog-content">
        <div class="header-content">
            <h1>Hej! Välkomen Till Mitt Blogg</h1>
        </div>
        
        <div class="abigail-image" >
            <img src="../../../assets/images/abigail_photo.jpg" alt="">
        </div>
            <div class="intro">
                <span >
                    Jag heter <strong>Abigail Tadele. Jag är 9 år.</strong>
                </span>
            </div>

            <div class="current-date">
            </div>
            <div class="content">
                <p>
                    Jag vill tacka er alla som besökte min blogg och gav mig tips och har uppmuntrat mig med textmeddelanden och genom att ringa mig.
                </p>
                <br>
                <p>
                    Igår hade jag inget delprov A. Utan vi hade delprov B. Vår lärare läste en-två texter och vi läste alla andra texter. Sen svara vi på frågor.
                </p>
                <br>
                <p>
                    Jag blev klar med uppgiften så jag fick lyssna på ugglo. Det finns olika böcker man kan lyssna på. <br>Jag har bara ett <strong>TIPS</strong> till er som gör nationella proven att va inte stressade, nervösa och rädda. Jag var först jätte jätte rädd,stressade och nervös. Men när jag började göra  nationella proven  så var det helt okej. <br> Det är inte som ni tror att det är. Om ni tror att det är svårt,så tycker jag att ni tänker att det är ett vanligt prov. Ni är moddiga, alltså jätte jätte jätte jätte jätte jätte jätte jätte jätte jätte jätte jätte jätte jätte jätte jätte jätte jätte jätte  jätte jätte jätte jätte  moddiga.
                 
                <br>
            </p>
            </div>
                <div class = "dynamic-image">
                    <h3>Kan någon gissa var den här bilden tas?</h3>
                    <img src="../../../assets/images/bubu_4l.jpg">
                </div>
                <div class="greetings">
                    Puss o Kram !!! <br><br> &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts; 🌹 &hearts;🌹
                </div>

            
    </div>
<!--
    <div class="form-container">
        <form [formGroup]="ethioCelebform" (ngSubmit)="submitRegistration()" novalidate>
          <div *ngIf="validMessage != ''">
            <h3 class="has-info">{{validMessage}}</h3>
          </div>
          <div class="form-group">
            <label>Full name</label>
            <input type="text" class="form-control" formControlName="fullName" required autofocus/>
          </div>
          <div class="form-group">
            <label>Marital Status</label>
            <input type="text" class="form-control" formControlName="maritalStatus" required/>
          </div>
          <div class="form-group">
            <label>Age</label>
            <input type="number" class="form-control" formControlName="personAge" required/>
          </div>
          <div class="form-group">
            <label>Child</label>
            <input type="number" class="form-control" formControlName="numberOfChild" required/>
          </div>
          <div class="form-group">
            <label>Social Media</label>
            <select class="form-control" formControlName="socialMedia" required>
              <option value="">Please select a social media</option>
              <option *ngFor="let media of socialMedias"
                      [value]="media">
                      {{media}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Facebook</label>
            <input type="text" class="form-control" formControlName="facebookUrl" required/>
          </div>
          <div class="form-group">
            <label>Instagram</label>
            <input type="text" class="form-control" formControlName="instagramUrl" required/>
          </div>
          <div class="form-group">
            <label>Youtube</label>
            <input type="text" class="form-control" formControlName="youtubeUrl" required/>
          </div>
          <div class="form-group">
            <label>Telegram</label>
            <input type="text" class="form-control" formControlName="telegramUrl" required/>
          </div>
          <div class="form-group">
            <label>Twitter</label>
            <input type="text" class="form-control" formControlName="twitterUrl" required/>
          </div>
          
          <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
      </div>
   -->


