
<div class="pofile-container">
    <div class="brand-wrapper">
        <div class="brand">
            <div>
                <h3>WONDMAGEGN ERGANO </h3>
            </div>
        </div>
    </div>

    <div class="profile">
        <div class="profile-wrapper">
            <div class="profile-image-wrapper">
                <img src="../../../assets/images/love_codding.jpg" alt="Company Image" class="about-image" width="600"
                    height="400">
            </div>

            <div class="profile-content-wrapper">
                <h1>Hi, Thanks for visiting my site</h1>
                <p>Mauris at condimentum eros. Integer non suscipit dolor. Nulla et varius neque, ac bibendum turpis.
                    Praesent non felis id nibh viverra pretium. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Cras porttitor condimentum est, at facilisis magna iaculis viverra.

                </p>
                <p>
                    Nullam eros sapien, tristique vitae semper ornare, lacinia in elit. Fusce quis rhoncus nulla. Nullam
                    ac quam sit amet enim condimentum euismod. Nulla eu nibh quis nisl suscipit venenatis eu at diam.
                    Donec sollicitudin sollicitudin vestibulum. Nam vel odio mattis, venenatis lacus quis, interdum
                    erat. </p>
                <p>
                    Ut rhoncus augue lobortis nibh condimentum lacinia. Suspendisse ullamcorper nisl ac neque pharetra
                    vestibulum.
                </p>
            </div>
        </div>
    </div>
    <div id="map">
        <div class="frame">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2027590.153698456!2d34.982548846785136!3d6.993138723523547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17aeda9769b4711d%3A0x579192914edb754!2sKeffa%2C%20Etiopien!5e0!3m2!1ssv!2sse!4v1582309776539!5m2!1ssv!2sse"
                width="800" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="form-to-fill">
            <h3>Comment</h3>
            <form class="quote">
                <div>
                    <label>Name</label><br>
                    <input type="text" placeholder="Name">
                </div>
                <div>
                    <label>Email</label><br>
                    <input type="email" placeholder="bulima@bulimas.com">
                </div>
                <div>
                    <label>Message</label><br>
                    <textarea rows="5" placeholder="Your Message Here"></textarea>
                </div>
                <button class="send_btn" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>